@font-face {
    font-family: 'FuturaLT Heavy';
    src: url('../fonts/FuturaLT Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page-wrapper{
    height: 640px;
    background: url('/img/body-bg.jpg') no-repeat #ccffff;
    background-position: center;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

.page-wrapper .body-content{
    text-align: center;
}

.page-wrapper .body-content .top-header{
    display: inline-block;
    width: 960px;
    background-color: rgba(255, 255, 255, 0.76);
}

.page-wrapper .body-content .top-header div{
    display: inline-block;
}

.page-wrapper .body-content .top-header div.logo-container{
    float: left;
    margin-left: 16px;
    margin-top: 18px;
}

.page-wrapper .body-content .top-header div.header-text{
    text-align: center;
    font-family: FuturaLT Heavy;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    padding-top: 3px;
}

.page-wrapper .body-content .top-header div.call-us{
    text-align: left;
    font-family: Arial;
    font-size: 10px;
    float: right;
    margin-right: 33px;
    margin-top: 7px;
}

.page-wrapper .body-content .top-header div.call-us p{
    margin: 0;
}

.page-wrapper .body-content .top-header div .h1{
    margin: 0;
}

.page-wrapper .body-content .top-header div div{
    text-align: center;
}

.page-wrapper .body-content .subscription-div input{
    width: 270px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    border-color: black;
    border-width: 3px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.page-wrapper .body-content .subscription-div button{
    width: 155px;
    height: 30px;
    background-color: #3399cc;
    font-family: Arial;
    font-size: 18px;
    border: 0;
    color: white;
}

.page-wrapper .body-content .subscription-div button:hover{
    /*background-color: #3399cc;*/
    opacity: 0.8;
}

.page-wrapper .body-content #subscribe_form{
    display: inline-block;
    width: 370px;
    height: 100px;
    background-color: rgba(102, 102, 0, 0.4);
}

.msg-loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: none;
    background: rgba(0, 0, 0, 0.9);
}

.msg-loader div{
    top: 50%;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: whitesmoke;
    font-size: 30px;
}

.msg-loader div img{
    margin-top: -75px !important;
    margin-left: -75px !important;
    width: 150px;
    height: 150px;
}

#msg{
    font-family: "FuturaLT Heavy";
    font-size: 18px;
    color: white;
}

#msg p{
    margin: 0;
    padding: 0;
}